<header id="site-header" class="u-header site-header__v1">
    <div class="masthead border-bottom position-relative" style="margin-bottom: -1px;">
        <div class="container-fluid px-3 px-md-5 px-xl-8d75 py-2 py-md-0">
            <div class="d-flex align-items-center position-relative flex-wrap">
                <div class="offcanvas-toggler mr-4 mr-lg-8">
                    <a class="cat-menu">
                        <svg width="20px" height="18px">
                            <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                                d="M-0.000,-0.000 L20.000,-0.000 L20.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z" />
                            <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                                d="M-0.000,8.000 L15.000,8.000 L15.000,10.000 L-0.000,10.000 L-0.000,8.000 Z" />
                            <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                                d="M-0.000,16.000 L20.000,16.000 L20.000,18.000 L-0.000,18.000 L-0.000,16.000 Z" />
                        </svg>
                    </a>
                </div>
                <div class="site-branding pr-md-4">
                    <a href="{% url 'store' %}" class="d-block mb-1"> Book Shop </a>
                </div>
                <div class="site-navigation mr-auto d-none d-xl-block">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a href="#"
                                class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium align-items-center">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#"
                                class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium active border-bottom border-primary border-width-2">Categories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                                class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium d-flex align-items-center">
                                Shop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#"
                                class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium d-flex align-items-center">
                                Pages
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                                class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium d-flex align-items-center">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                                class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium d-flex align-items-center">
                                Others
                            </a>
                        </li>
                        <li>
                            <a class="nav-link link-black-100 position-relative">
                                <span
                                    class="position-absolute bg-dark width-16 height-16 rounded-circle d-flex align-items-center justify-content-center text-white font-size-n9 right-0">3</span>
                                <i class="glph-icon flaticon-icon-126515"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>