{% extends "shop/main.html" %}
{% load static %}
{% load shop_extras %}
{% block content %}
<div class="jumbotron jumbotron-fluid px-2 px-md-4">
    <div class="row slider-2 container-fluid bg-white">
        {% with colors='bg-carolina-light bg-tangerine-light bg-indigo-light bg-chili-light' %}
            {% for book in books %}
                {% with next_element=colors.split|next:forloop.counter0 %}
                <div class="d-md-flex justify-content-between p-4 p-md-5 {{next_element}}">
                    <div class="mb-4 mb-md-0">
                        <div class="text-uppercase mb-1 text-truncate product-category">
                            <a href="#">Kindle Edition</a>
                        </div>
                        <h6 class="mb-1 product-title">
                            <a href="#">{{ book.name }}</a>
                        </h6>
                        <div class="product-author mb-1 text-truncate">
                            {% for author in book.authors.all %}
                                <a href="#">{{ author.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="product-price d-flex align-items-center">
                            <span>${{ book.price|floatformat:2 }}</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <div class="stars-outer">
                                <div class="stars-inner" style="width: {{70}}%"></div>
                            </div>
                            <small style="font-size: .875rem!important;"> (4)</small>
                        </div>
                        <div class="product-button d-flex align-items-center">
                            <a href="#" class="text-uppercase mr-auto">
                                <span class="product-add-to-cart">Add to cart</span>
                            </a>
                        </div>
                    </div>
                    <div class="position-relative top-0 end-0">
                        <a href="#" class="d-block img-fluid">
                            <img width="150" height="226" src="{{book.imageURL}}">
                        </a>                                        
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        {% endwith %}
    </div>
</div>

<section class="bg-gray-200 space-bottom-3 space-top-3">
    <div class="container">
        <header class="d-md-flex justify-content-between align-items-center mb-5">
            <h2 class="font-size-7 mb-3 mb-md-0">Trending Books</h2>
            <a href="#" class="d-flex align-items-center h-primary">
                View All&nbsp;
                <span class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
            </a>
        </header>
        <div class="row category-slider">
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/gallery.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/tray.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/heart.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/stethoscope.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/resume.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/jogging.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/baby-boy.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/gallery.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="nav-link font-weight-medium px-0" href="#" tabindex="0">
                    <div class="text-center category">
                        <figure class="d-flex justify-content-center">
                            <img src="{% static 'images/gallery.png' %}" alt="">
                        </figure>
                        <span class="tabtext font-size-3 font-weight-medium text-dark">Food &amp; Drinks</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
            {% for book in books %}
                <div class="col">
                    <div class="product-card product-rounded">
                        <div class="product-inner p-3 p-md-4 d-block position-relative">
                            <div class="thumbnail">
                                <a href="#" class="d-block">
                                    <img class="thumbnail-img" src="{{book.imageURL}}" />
                                </a>
                            </div>
                            <div class="box-element product-body pt-3 bg-white">
                                <div class="text-uppercase mb-1 text-truncate product-category">
                                    <a href="#">PAPERBACk</a>
                                </div>
                                <h6 class="mb-1 product-title">
                                    <a href="#">{{ book.name }}</a>
                                </h6>
                                <div class="product-author mb-1 text-truncate">
                                    {% for author in book.authors.all %}
                                        <a href="#">{{ author.name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="product-price d-flex align-items-center">
                                    <span>${{ book.price|floatformat:2 }}</span>
                                </div>
                            </div>
                            <div class="product-button d-flex align-items-center">
                                <a href="#" class="text-uppercase mr-auto">
                                    <span class="product-add-to-cart">Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-white space-bottom-3 space-top-3">
    <div class="container">
        <header class="d-md-flex justify-content-between align-items-center mb-5">
            <h2 class="font-size-7 mb-3 mb-md-0">Bestselling Books</h2>
            <a href="#" class="d-flex align-items-center h-primary">
                View All&nbsp;
                <span class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
            </a>
        </header>
        <div class="row product-card-list slider g-0">
            {% for book in books %}
                <div class="col-md-12 product-card">
                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                        <div class="thumbnail">
                            <a href="#" class="d-block">
                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                            </a>
                        </div>
                        <div class="box-element product-body pt-3 bg-white">
                            <div class="text-uppercase mb-1 text-truncate product-category">
                                <a href="#">PAPERBACk</a>
                            </div>
                            <h6 class="mb-1 product-title">
                                <a href="#">{{ book.name }}</a>
                            </h6>
                            <div class="product-author mb-1 text-truncate">
                                {% for author in book.authors.all %}
                                    <a href="#">{{ author.name }}</a>
                                {% endfor %}
                            </div>
                            <div class="product-price d-flex align-items-center">
                                <span>${{ book.price|floatformat:2 }}</span>
                            </div>
                            <div class="stars-outer">
                                <div class="stars-inner" style="width: {{70}}%"></div>
                            </div>
                            <small style="font-size: .875rem!important;">(4)</small>
                        </div>
                        <div class="product-button d-flex align-items-center">
                            <a href="#" class="text-uppercase mr-auto">
                                <span class="product-add-to-cart">Add to cart</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
	    </div>
    </div>
</section>
<section class="bg-gray-200 space-bottom-3 space-top-3">
    <div class="container">
        <header class="d-md-flex justify-content-between align-items-center mb-5">
            <h2 class="font-size-7 mb-3 mb-md-0">Featured Books</h2>
            <ul class="nav nav-gray-700 flex-nowrap flex-md-wrap overflow-auto overflow-md-visible" role="tablist">
                <li class="nav-item flex-shrink-0 flex-md-shrink-1 mx-4" role="presentation">
                    <a class="nav-link active px-0" id="home-tab" data-bs-toggle="tab" data-bs-target="#featured" type="button" role="tab" aria-controls="home" aria-selected="true">
                        <h6>Home</h6>
                    </a>
                </li>
                <li class="nav-item flex-shrink-0 flex-md-shrink-1 mx-4" role="presentation">
                    <a class="nav-link px-0" id="profile-tab" data-bs-toggle="tab" data-bs-target="#on-sale" type="button" role="tab" aria-controls="profile" aria-selected="false">
                        <h6>Profile</h6>
                    </a>
                </li>
                <li class="nav-item flex-shrink-0 flex-md-shrink-1 mx-4" role="presentation">
                    <a class="nav-link px-0" id="messages-tab" data-bs-toggle="tab" data-bs-target="#most-viewed" type="button" role="tab" aria-controls="messages" aria-selected="false">
                        <h6>Messages</h6>
                    </a>
                </li>
            </ul>
        </header>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="tab-pane-tab">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row no-gutters row-cols-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-wd-2 product-card-list">
                            {% for book in books.all|slice:":4" %}
                                <div class="col product-card bg-white">
                                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row no-gutters product-card-list h-100">
                            {% for book in books.all|slice:":1" %}
                                <div class="col product-card bg-white big-product-card">
                                    <div class="product-inner p-3 p-md-4 mt-auto d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row no-gutters row-cols-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-wd-2 product-card-list">
                            {% for book in books.all|slice:":4" %}
                                <div class="col product-card bg-white">
                                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="on-sale" role="tabpanel" aria-labelledby="on-sale-tab">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row no-gutters row-cols-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-wd-2 product-card-list">
                            {% for book in books.all|slice:":4" %}
                                <div class="col product-card bg-white">
                                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row no-gutters product-card-list h-100">
                            {% for book in books.all|slice:":1" %}
                                <div class="col product-card bg-white big-product-card">
                                    <div class="product-inner p-3 p-md-4 mt-auto d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row no-gutters row-cols-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-wd-2 product-card-list">
                            {% for book in books.all|slice:":4" %}
                                <div class="col product-card bg-white">
                                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="most-viewed" role="tabpanel" aria-labelledby="most-viewed-tab">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row no-gutters row-cols-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-wd-2 product-card-list">
                            {% for book in books.all|slice:":4" %}
                                <div class="col product-card bg-white">
                                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row no-gutters product-card-list h-100">
                            {% for book in books.all|slice:":1" %}
                                <div class="col product-card bg-white big-product-card">
                                    <div class="product-inner p-3 p-md-4 mt-auto d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row no-gutters row-cols-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-wd-2 product-card-list">
                            {% for book in books.all|slice:":4" %}
                                <div class="col product-card bg-white">
                                    <div class="product-inner p-3 p-md-4 d-block position-relative">
                                        <div class="thumbnail text-center">
                                            <a href="#" class="d-block">
                                                <img class="thumbnail-img" src="{{book.imageURL}}" />
                                            </a>
                                        </div>
                                        <div class="box-element product-body pt-3 bg-white">
                                            <div class="text-uppercase mb-1 text-truncate product-category">
                                                <a href="#">PAPERBACk</a>
                                            </div>
                                            <h6 class="mb-1 product-title">
                                                <a href="#">{{ book.name }}</a>
                                            </h6>
                                            <div class="product-author mb-1 text-truncate">
                                                {% for author in book.authors.all %}
                                                    <a href="#">{{ author.name }}</a>
                                                {% endfor %}
                                            </div>
                                            <div class="product-price d-flex align-items-center">
                                                <span>${{ book.price|floatformat:2 }}</span>
                                            </div>
                                        </div>
                                        <div class="product-button d-flex align-items-center">
                                            <a href="#" class="text-uppercase mr-auto">
                                                <span class="product-add-to-cart">Add to cart</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}